<button mat-fab (click)="createUser()">
    <mat-icon class="md-24">add</mat-icon>
</button>
<mat-list>
    <div mat-mat-subheader>Users</div>
    <mat-list-item *ngFor="let user of users; let i=index">
        <h4>{{user.name}}</h4>
        <span style="flex:1"></span>
        <button mat-button color="primary" (click)="editUser(i)">
            Edit User
        </button>
        <button mat-button color="accent" (click)="deleteUser(i)">
            Delete User
        </button>
    </mat-list-item>
</mat-list>